<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <compilation debug="true"></compilation>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="PrintService.PrintService" behaviorConfiguration="baseHttpBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:8889/PrintService/"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="PrintContract.IPrint" bindingConfiguration="binding"/>
        <endpoint address="mex" binding="basicHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="binding" maxBufferPoolSize="65536000"/>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="baseHttpBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceDiscovery>
            <announcementEndpoints></announcementEndpoints>
          </serviceDiscovery>
          <dataContractSerializer maxItemsInObjectGraph="1048576"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>